Sports-Manager/.gradle
Sports-Manager/.idea
!Sports-Manager/.idea/artifacts/
Sports-Manager/build/
Sports-Manager/out

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
